body {
    /* background: url(../images/nyt.png); */
    background:lightgray;
 
}

h3{
    color: white;
    background:maroon;
}

.articleResult{
    background-color:lawngreen;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.articleResult:hover{
    background-color:grey;
    font-size: 120%;
    cursor: pointer;
}
h2:hover{
    background-color:grey;
 
    cursor: pointer; 
}